.App {
  text-align: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 40px;
}

.App-title{
  color: white;
}

.App-header-btn{
  margin-left: 6px;
  color: white;
}

.App-header-btn-active{
  color: secondary;
}

.App-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.description {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 45%;
  min-width: 30%;
  padding: 10px;
  border-radius: 7px;
  height: 300px;
  position: relative;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


/* .rounded {
  border-radius: 10px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
